#edit-name-check,
#edit-mail-check {
  padding-left: 20px;
}

#edit-name-check.ok,
#edit-mail-check.ok {
  background: transparent url(../img/ok.png) no-repeat;
}

#edit-name-check.error,
#edit-mail-check.error {
  background: transparent url(../img/error.png) no-repeat;
}
